<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <title>гипро</title>
      <link href="/img/icon/favicon.png" rel="shortcut icon" type="image/icon">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800|Raleway:100,200,300,400,600,700,800" rel="stylesheet">
      <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="/css/animate.min.css" rel="stylesheet">
      <link href="/css/font-awesome.min.css" rel="stylesheet">
      <link href="/css/magnific-popup.css" rel="stylesheet">
      <link href="/css/flexslider.css" rel="stylesheet">
      <link href="/css/owl.carousel.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet">
      <link href="/css/theme/theme-personal.css" rel="stylesheet">
      <link href="/css/responsive.css" rel="stylesheet">
   