<div class="nav-container-fix">
    <nav class="navbar navbar-default nav-transparent menu-light" data-spy="affix" data-offset-top="1" data-offset-bottom="0">
       <div class="container nav-transparent-responsive">
          
          <!--======= NavBar Header =========-->
          <div class="navbar-header nav-transparent-header">
             
             <!--======= Brand Logo =========--> 
             <a class="navbar-brand" href="/">
                <img class="img-responsive" src="/img/logo.png" alt="logo dark" />
             </a> 
             
             <!--======= Toggle Button =========-->
             <button type="button" class="navbar-toggle nav-toggle nav-toggle-orange collapsed" data-toggle="collapse" data-target="#fulltransparentNavbar">
                <span class="icon-bar top-icon-bar"></span>
                <span class="icon-bar middle-icon-bar"></span>
                <span class="icon-bar bottom-icon-bar"></span>
             </button>
          </div>
          <div class="collapse navbar-collapse" id="fulltransparentNavbar">
             <ul id="dropdown-slide" class="nav navbar-nav nav-transparent-nav pull-right">
                
               <!--======= Home Page Dropdown =========-->
                <li > <a href="/" >главная<span class="nav-transparent-icon-down">+</span></a>
                <li > <a href="/about" >о нас<span class="nav-transparent-icon-down">+</span></a>
                <li > <a href="/products" >продукты<span class="nav-transparent-icon-down">+</span></a>
                <li > <a href="/recipes" >рецепты<span class="nav-transparent-icon-down">+</span></a>
                <li > <a href="index.html#contact" >контакты<span class="nav-transparent-icon-down">+</span></a>

             </ul>
          </div>
       </div>
    </nav>
 </div>