<%- include('includes/head.ejs') %>
    
   </head>
   
   <body>
      <!-- Preloader -->
      <div class="loader-wrap">
         <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
         </div>
         <p>Загрузка...</p>
      </div>
      <!-- Ends -->
      <div id="left"></div>
      <div id="right"></div>
      <div id="top"></div>
      <div id="bottom"></div>
      
      <!--*-*-*-*-*-*-*-*-*-*- Header *-*-*-*-*-*-*-*-*-*-->

      <header id="header-megamenu"> 
         
         <!--*-*-*-*-*-*-*-*-*-*- NAVIGATION BAR *-*-*-*-*-*-*-*-*-*-->
         <%- include('./includes/navigation.ejs') %>
         <!--*-*-*-*-*-*-*-*-*-*- END NAVIGATION BAR *-*-*-*-*-*-*-*-*-*--> 

         
         <!--*-*-*-*-*-*-*-*-*-*- BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*--> 
         
         <div id="bg-img">
            <div class="parallax-bg overlay-light pad-t-120 pad-b-120" style="background-image:url('img/blog-02.jpg');"
               data-center="background-position: 50% 0px;" 
               data-top-bottom="background-position: 50% -100px;" 
               data-anchor-target="#bg-img">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="owl-content-des-l">
                           <h2 class="blog-header-tit animated-txt-1">КОМПАНИЯ ГИПРО / О НАС</h2>
                           <div class="line-dark-l animated-txt-2"></div>
                           <h3 class="blog-header-sub-tit animated-txt-3">производство</h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div> 
         
         <!--*-*-*-*-*-*-*-*-*-*- END BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*--> 
         
         <!--*-*-*-*-*-*-*-*-*-*- Modal Sections *-*-*-*-*-*-*-*-*-*--> 
         
         <!--======= Login Modal =========-->
         <div class="modal fade modal-default-fade modal-light" id="modal-default-login-modal" role="dialog">
            <div class="modal-dialog modal-default-dialog">
               
               <!--======= Login Modal Content =========-->
               <div class="modal-content modal-default-content animated fadeIn">
                  
                  <!--======= Login Modal Header =========-->
                  <div class="modal-header modal-default-header">
                     <button type="button" class="close" data-dismiss="modal">
                        &times;
                     </button>
                  </div>
                  
                  <!--======= Login Modal Body =========-->
                  <div class="modal-body modal-default-body">
                     <div id="modal-default-user-image">
                        <img src="img/logo-dark.png" alt="logo dark" />
                        <h3 class="animated fadeInDown">Welcome back!</h3>
                     </div>
                     <form id="login" method="post" action="contact.php" class="modal-default-body-form">
                        <div class="messages">
                        </div>
                        <div class="controls">
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="username-login"  placeholder="Username" required>
                           </div>
                           <div class="form-group">
                              <input type="password" class="form-control animated fadeInDown" id="psw-login"  placeholder="Password" required>
                           </div>
                           <div class="checkbox">
                              <label class="modal-default-checkbox">
                                 <input type="checkbox" value="">
                                 Remember Me </label>
                           </div>
                           <button type="submit" class="btn btn-s btn-gray animated fadeInDown">
                              <span class="glyphicon glyphicon-off"></span>
                              Login
                           </button>
                        </div>
                     </form>
                  </div>
                  
                  <!--======= Login Modal Footer =========-->
                  <div class="modal-footer modal-default-footer">
                     <a href="#">Forget Username / Password?</a>
                  </div>
               </div>
            </div>
         </div>
         <!--======= End Login Modal =========--> 
         
         <!--======= Register Modal =========-->
         <div class="modal fade modal-default-fade modal-light" id="modal-default-register-modal" role="dialog">
            <div class="modal-dialog modal-default-dialog">
               
               <!--======= Register Modal Content =========-->
               <div class="modal-content modal-default-content">
                  
                  <!--======= Register Modal Header =========-->
                  <div class="modal-header modal-default-header">
                     <button type="button" class="close" data-dismiss="modal">
                        &times;
                     </button>
                     <img src="img/logo-dark.png" alt="logo dark" />
                  </div>
                  
                  <!--======= Register Modal Body =========-->
                  <div class="modal-body modal-default-body">
                     <form id="register" method="post" action="contact.php" class="modal-default-body-form">
                        <div class="messages">
                        </div>
                        <div class="controls">
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="first-name" placeholder="First Name" required>
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="last-name" placeholder="Last Name" required>
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="user-name" placeholder="Username" required>
                           </div>
                           <div class="form-group">
                              <input type="password" class="form-control animated fadeInDown" id="psw-reg" placeholder="Password" required>
                           </div>
                           <div class="form-group">
                              <input type="email" class="form-control animated fadeInDown" id="email-reg" placeholder="Email" required>
                           </div>
                           <div class="checkbox">
                              <label class="modal-default-checkbox animated fadeInDown">
                                 <input type="checkbox" value="" required>
                                 I agree to the GoTham - <a href="#">Terms and Conditions</a> </label>
                           </div>
                           <br>
                           <button type="submit" class="btn btn-s btn-gray animated fadeInDown">
                              Create Account
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!--======= End Register Modal =========--> 
         
         <!--======= Search Modal =========-->
         <div class="modal fade modal-default-fade modal-light" id="modal-default-search-modal" role="dialog">
            <div class="modal-dialog modal-default-dialog">
               
               <!--======= Search Modal Content =========-->
               <div class="modal-content modal-default-content animated fadeIn">
                  
                  <!--======= Search Modal Header =========-->
                  <div class="modal-header modal-default-header">
                     <button type="button" class="close" data-dismiss="modal">
                        &times;
                     </button>
                     <img src="img/logo-dark.png" alt="logo dark" />
                  </div>
                  
                  <!--======= Search Modal Body =========-->
                  <div class="modal-body modal-default-body modal-default-body-search">
                     <form class="modal-default-body-form modal-default-search-bar">
                        <div class="form-group">
                           <input type="text" class="form-control" id="query" name="search" value="" placeholder="Start Typing..."  required>
                        </div>
                        <button type="submit" class="btn btn-s btn-gray">
                           <span class="glyphicon glyphicon-search"></span>
                        </button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!--======= End Search Modal =========--> 
         
         <!--======= Contact Us Modal =========-->
         <div class="modal fade modal-default-fade modal-light" id="modal-default-contact-us-modal" role="dialog">
            <div class="modal-dialog modal-default-dialog">
               
               <!--======= Contact Us Modal Content =========-->
               <div class="modal-content modal-default-content animated fadeIn">
                  
                  <!--======= Contact Us Modal Header =========-->
                  <div class="modal-header modal-default-header">
                     <button type="button" class="close" data-dismiss="modal">
                        &times;
                     </button>
                     <img src="img/logo-dark.png" alt="logo dark" />
                  </div>
                  
                  <!--======= Contact Us Modal Body =========-->
                  <div class="modal-body modal-default-body">
                     <form id="top-contact" method="post" action="contact.php" class="modal-default-body-form">
                        <div class="messages">
                        </div>
                        <div class="controls">
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="usrname" placeholder="Your Name" required>
                           </div>
                           <div class="form-group">
                              <input type="email" class="form-control animated fadeInDown" id="email" placeholder="Your Email" required>
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="subject" placeholder="Your Subject" required>
                           </div>
                           <div class="form-group">
                              <textarea class="form-control animated fadeInDown" rows="5" id="comment" placeholder="Your Message..." required></textarea>
                           </div>
                           <button type="submit" class="btn btn-s btn-gray animated fadeInDown">
                              <span class="glyphicon glyphicon-send"></span>
                              Submit Now
                           </button>
                        </div>
                     </form>
                  </div>
                  
                  <!--======= Contact Us Modal Footer =========-->
                  <div class="modal-footer modal-default-footer" id="modal-default-contact-us-modal-social-icons">
                     <ul class="pull-right animated fadeInDown">
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="10M">
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="5M">
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="1M">
                              <i class="fa fa-google-plus" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="Skype">
                              <i class="fa fa-skype" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="25000">
                              <i class="fa fa-youtube" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="Rss">
                              <i class="fa fa-rss" aria-hidden="true"></i>
                           </a> </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!--======= End Contact Us Modal =========--> 
      </header>
      <!--*-*-*-*-*-*-*-*-*-*- End Header Section *-*-*-*-*-*-*-*-*-*-->
      
      <section class="pad-t-200 pad-b-200 pad-section-50">
            <div class="container">
               <div class="row">
                  <div class="col-md-4 text-center wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                     <div class="txt-border-dark">
                        мы<br>
                        работаем<br>
                        для вас
                     </div>
                     <div class="text-right margin-t-50 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3>Shake up your business!</h3>
                        <p>Morbi iaculis tincidunt dolor vel porttitor. Fusce eleifend, erat ut pharetra placerat, nibh urna elementum justo, id bibendum tellus lectus vel turpis. </p>
                     </div>
                  </div>
                  <div class="col-md-8 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                     <div class="wrap-figure">
                        <div class="figure-slide">
                           <div class="img-slide-1" style="background-image:url('img/about/8.jpg');"></div>
                           <div class="img-slide-2" style="background-image:url('img/about/6.jpg');"></div>
                           <div class="img-slide-3" style="background-image:url('img/about/14.jpg');"></div>
                           <div class="img-slide-4" style="background-image:url('img/about/16.jpg');"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
		 <section class="pad-b-150 pad-section-50">
            <div class="container">
               <div class="row v-align">
                  <div class="col-md-4 col-md-offset-2 col-md-pull-1 col-sm-6 pad-m-b-25 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                     <h3>Входящее сырье</h3>
                     <h4 class="heading-des">жесткий контроль</h4>
                     <div class="line-dark-l"></div>
                     <p>Donec hendrerit mauris sed fermentum suscipit. Donec arcu diam, maximus sed hendrerit in, malesuada at urna. Sed mattis vel neque non interdum. Duis molestie sem a erat molestie semper. Phasellus commodo tortor.</p>
                  </div>
                  <div class="col-md-6 col-sm-6 no-pad wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                     <div class="work-3-item">
                        <a href="#">
                           <img src="img/about/5.jpg" class="img-responsive" alt="">
                           <div class="work-3-des">
                              <div class="h-center">
                                 <div class="v-center">
                                    <h4 class="txt-10">жесткий контроль</h4>
                                    <div class="work-3-line"></div>
                                    <h5 class="txt-12">входящего сырья</h5>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="row v-align">
                  <div class="col-md-6 col-sm-6 no-pad pad-m-b-25 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                     <div class="work-3-item">
                        <a href="#">
                           <img src="img/about/9.jpg" class="img-responsive" alt="">
                           <div class="work-3-des">
                              <div class="h-center">
                                 <div class="v-center">
                                    <h4 class="txt-10">жесткий контроль</h4>
                                    <div class="work-3-line"></div>
                                    <h5 class="txt-12">готового продукта</h5>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-md-4 col-md-offset-2 col-md-pull-1 col-sm-6 wow fadeIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                     <h3>Готовая продукция</h3>
                     <h4 class="heading-des">жесткий контроль</h4>
                     <div class="line-dark-l"></div>
                     <p>Nullam ut luctus ipsum. In lorem nulla, tempus sed molestie quis, egestas id turpis. Proin eu ornare ex, luctus commodo turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                  </div>
               </div>
            </div>
         </section>
		 <section class="cover-bg overlay-dark" style="background-image:url('img/agency-01.jpg');">
            <div class="pad-t-150 pad-b-150 pad-section-50">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-5 col-sm-offset-6 txt-gray">
                        <h2 class="wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">COVID-19<br>
                           защита от вируса</h2>
                        <div class="line-orange-l wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;"></div>
                        <h3 class="txt-orange wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">Распоряжение № 762-р</h3>
                        <p class="wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;"> Aenean egestas vestibulum sem ut pellentesque. Ut ac varius eros. Nam in justo et lorem venenatis sodales. Pellentesque tristique rhoncus odio non consectetur. Sed a elit porta, rutrum dolor quis.</p>
                        <p class="wow fadeIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;"> Proin interdum pulvinar lacinia. Donec sedf nec nunc varius, congue leo ut, ornare dolor. Nam varius mauris eu viverra fringilla. Quisque.</p>
                        <div class="wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                           <a href="#" class="btn btn-m btn-gray margin-t-30">смотреть</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
		 
		 <section class="bg-1 pad-t-100 pad-b-150 pad-section-50">
            <div class="container pad-b-100 pad-m-b-25">
               <div class="row border-v-gray">
                  <div class="col-md-6 text-right pad-r-60 pad-m-b-25 pad-s-r-15">
                     <h2>Наша Команда</h2>
                     <hr>
                     <p>Donec lacinia, eros at tincidunt molestie, tellus urna volutpat augue, eget euismod ligula dolor ultricies risus. Quisque tempor, lacus bibendum eleifend.</p>
                  </div>
                  <div class="col-md-6 pad-l-60 pad-s-l-15">
                     <p class="txt-des">Donec lacinia, eros at tincidunt molestie, tellus urna volutpat augue, eget euismod ligula dolor ultricies risus. Quisque tempor, lacus bibendum eleifend vehicula, nunc urna euismod leo, at tincidunt purus risus vitae velit. Nam a scelerisque eros. Nam sed rhoncus odio, et luctus dolor eros at tincidunt molestie, tellus urna volutpat augue, eget</p>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-sm-4 pad-t-70 no-m-pad margin-m-b-120 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                     <div class="team-2">
                        <div class="team-2-photo">
                           <img src="img/team-square-01.jpg" alt="">
                        </div>
                        <div class="team-2-overlay">
                           <div class="team-2-des-side">
                              <h4>Главный Бухгалтер</h4>
                              <p class="fw-400">Sed id ligula pretium, accumsan nunc et, tempus leo. Aenean ante orci, malesuada vel pulvinar molestie, laoreet nec enim</p>
                           </div>
                           <div class="team-2-social-side">
                              <ul>
                                 <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="team-2-box line-r-dark">
                        <h5>Иванова Ольга</h5>
                        <p>Главный Бухгалтер</p>
                     </div>
                  </div>
                  <div class="col-sm-4 no-m-pad margin-m-b-120 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                     <div class="team-2">
                        <div class="team-2-photo">
                           <img src="img/team-08.jpg" alt="">
                        </div>
                        <div class="team-2-overlay">
                           <div class="team-2-des">
                              <h4>Генеральный Директор</h4>
                              <p class="fw-400">Quisque mattis odio et dignissim malesuada. Aliquam at impe rdiet eros, et viverra mi. Suspendisse eget risus vestibulum, congue quam</p>
                           </div>
                           <div class="team-2-social">
                              <ul>
                                 <li><a href="https://twitter.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                 <li><a href="https://facebook.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="https://instagram.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                 <li><a href="https://pinterest.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="team-2-box line-r-dark">
                        <h5>Стрильчик Антон</h5>
                        <p>Генеральный Директор</p>
                     </div>
                  </div>
                  <div class="col-sm-4 pad-t-120 no-m-pad margin-m-b-50 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                     <div class="team-2">
                        <div class="team-2-photo">
                           <img src="img/team-square-03.jpg" alt="">
                        </div>
                        <div class="team-2-overlay">
                           <div class="team-2-des-side">
                              <h4>Технолог</h4>
                              <p class="fw-400">Suspendisse scelerisque mauris id arcu sollicitudin, et egestas nibh vehicula. Fusce ornare lacus ex, ut dignissim </p>
                           </div>
                           <div class="team-2-social-side">
                              <ul>
                                 <li><a href="https://twitter.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                 <li><a href="https://facebook.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="https://instagram.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                 <li><a href="https://pinterest.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="team-2-box line-r-dark">
                        <h5>Кравец Игорь</h5>
                        <p>Технолог</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
     <footer class="footer-3">
         <div class="container">
            <div class="row">
               <div class="col-md-8 col-md-offset-2 pad-b-40 ">
                  <img src="img/logo-gray.png" width="40" height="56" alt=""/>
                  <div class="line-gray-c wow fadeInUp" data-wow-delay="0.2s"></div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-3 col-md-push-2 col-sm-3 wow fadeIn" data-wow-delay="0.3s">
                  <i class="fa fa-mobile icon" aria-hidden="true"></i>
                  <h5 class="info">Телефон</h5>
                  <p class="des">+7 (937) 726-7037</p>
               </div>
               <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                  <i class="fa fa-map-pin icon" aria-hidden="true"></i>
                  <h5 class="info">Адрес</h5>
                  <p class="des">Адрес : 400026 Волгоград<br>
                     ул. Пролетарская 49</p>
               </div>
               <div class="col-md-3 col-md-pull-2 col-sm-3 wow fadeIn" data-wow-delay="0.5s">
                  <i class="fa fa-envelope-o icon" aria-hidden="true"></i>
                  <h5 class="info">mail</h5>
                  <p class="des">100vb@mail.ru</p>
               </div>
            </div>
         </div>
         <div class="sub wow fadeIn" data-wow-delay="0.3s">
            <div class="container">
               <div class="row v-align">
                  <div class="col-md-7 col-sm-7 margin-s-b-15">
                     <p class="terms"> 
                        <a href="#">Поддержка</a>
                        <span>|</span>
                        <a href="#">Условия использования</a>
                        <span>|</span>
                        <a href="#">Конфиденциальность</a>
                        <span>|</span>
                        <a href="#">Лицензия</a></p>
                     <p class="copyright">GiPro &copy; 2021 All Rights Reserved</p>
                  </div>
                  <div class="col-md-5 col-sm-5">
                     <div class="social">
                        <ul>
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      
      <a href="#0" class="cd-top">Top</a> 
      
     <%- include('includes/footer.ejs') %>
      
   </body>
</html>