<%- include('./includes/head.ejs') %>

   </head>
   
   <body>
      <!-- Preloader -->
      <div class="loader-wrap">
         <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
         </div>
         <p>Загрузка...</p>
      </div>
      <!-- Ends -->
      <div id="left"></div>
      <div id="right"></div>
      <div id="top"></div>
      <div id="bottom"></div>
      
      <!--*-*-*-*-*-*-*-*-*-*- Header *-*-*-*-*-*-*-*-*-*-->

      <header id="header-megamenu"> 
         
         <!--*-*-*-*-*-*-*-*-*-*- NAVIGATION BAR *-*-*-*-*-*-*-*-*-*-->
         <%- include('./includes/navigation.ejs') %>
         <!--*-*-*-*-*-*-*-*-*-*- END NAVIGATION BAR *-*-*-*-*-*-*-*-*-*--> 

         
         <!--*-*-*-*-*-*-*-*-*-*- BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*--> 
         
         <div class="theme-personal">
            <div class="owl-full-screen" id="bg-img">
               <div class="parallax-bg owl-content" style="background-image:url('img/personal-06.jpg');"
                  data-center="background-position: 50% 0px;" 
                  data-top-bottom="background-position: 50% -100px;" 
                  data-anchor-target="#bg-img">
                  <div class="owl-content-des-l txt-dark">
                     <div class="animated-txt-1">
                        <h1 class="txt-11 text-uppercase fw-400">компания</h1>
                     </div>
                     <div class="animated-txt-2">
                        <h1 class="txt-30 text-uppercase fw-400 no-margin">гипоалергенные<br> продукты</h1>
                     </div>
                     <div class="animated-txt-3">
                        <div class="col-sm-3 no-pad">
                           <div class="line-dark-l"></div>
                           <p>Мы разработали и используем новейшую технологию проиводства полуфабрикатов без использования таких алергенов, как соя, лактоза, куриные яйца, глютен и ГМО.</p>
                           <p class="text-uppercase fw-600">"мы заботимся о вас"</p>
                           <div class="box-info no-pad margin-t-30">
                              <span class="number">ГП</span>
                              <div class="v-center">
                                 <span class="title">производство</span>
                                 <span class="title-sub">продажа<br>
                                 опт и розница</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> 
         </div>
         
         <!--*-*-*-*-*-*-*-*-*-*- END BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*--> 
         
         <!--*-*-*-*-*-*-*-*-*-*- Modal Sections *-*-*-*-*-*-*-*-*-*--> 
         
         <!--======= Login Modal =========-->
         <div class="modal fade modal-default-fade modal-light" id="modal-default-login-modal" role="dialog">
            <div class="modal-dialog modal-default-dialog">
               
               <!--======= Login Modal Content =========-->
               <div class="modal-content modal-default-content animated fadeIn">
                  
                  <!--======= Login Modal Header =========-->
                  <div class="modal-header modal-default-header">
                     <button type="button" class="close" data-dismiss="modal">
                        &times;
                     </button>
                  </div>
                  
                  <!--======= Login Modal Body =========-->
                  <div class="modal-body modal-default-body">
                     <div id="modal-default-user-image">
                        <img src="img/logo-gray-2.png" alt="logo dark" />
                        <h3 class="animated fadeInDown">Welcome back!</h3>
                     </div>
                     <form id="login" method="post" action="contact.php" class="modal-default-body-form">
                        <div class="messages">
                        </div>
                        <div class="controls">
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="username-login"  placeholder="Username" required>
                           </div>
                           <div class="form-group">
                              <input type="password" class="form-control animated fadeInDown" id="psw-login"  placeholder="Password" required>
                           </div>
                           <div class="checkbox">
                              <label class="modal-default-checkbox">
                                 <input type="checkbox" value="">
                                 Remember Me </label>
                           </div>
                           <button type="submit" class="btn btn-s btn-gray animated fadeInDown">
                              <span class="glyphicon glyphicon-off"></span>
                              Login
                           </button>
                        </div>
                     </form>
                  </div>
                  
                  <!--======= Login Modal Footer =========-->
                  <div class="modal-footer modal-default-footer">
                     <a href="#">Forget Username / Password?</a>
                  </div>
               </div>
            </div>
         </div>
         <!--======= End Login Modal =========--> 
         
         <!--======= Register Modal =========-->
         <div class="modal fade modal-default-fade modal-light" id="modal-default-register-modal" role="dialog">
            <div class="modal-dialog modal-default-dialog">
               
               <!--======= Register Modal Content =========-->
               <div class="modal-content modal-default-content">
                  
                  <!--======= Register Modal Header =========-->
                  <div class="modal-header modal-default-header">
                     <button type="button" class="close" data-dismiss="modal">
                        &times;
                     </button>
                     <img src="img/logo-gray-2.png" alt="logo dark" />
                  </div>
                  
                  <!--======= Register Modal Body =========-->
                  <div class="modal-body modal-default-body">
                     <form id="register" method="post" action="contact.php" class="modal-default-body-form">
                        <div class="messages">
                        </div>
                        <div class="controls">
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="first-name" placeholder="First Name" required>
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="last-name" placeholder="Last Name" required>
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="user-name" placeholder="Username" required>
                           </div>
                           <div class="form-group">
                              <input type="password" class="form-control animated fadeInDown" id="psw-reg" placeholder="Password" required>
                           </div>
                           <div class="form-group">
                              <input type="email" class="form-control animated fadeInDown" id="email-reg" placeholder="Email" required>
                           </div>
                           <div class="checkbox">
                              <label class="modal-default-checkbox animated fadeInDown">
                                 <input type="checkbox" value="" required>
                                 I agree to the GoTham - <a href="#">Terms and Conditions</a> </label>
                           </div>
                           <br>
                           <button type="submit" class="btn btn-s btn-gray animated fadeInDown">
                              Create Account
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!--======= End Register Modal =========--> 
         
         <!--======= Search Modal =========-->
         <div class="modal fade modal-default-fade modal-light" id="modal-default-search-modal" role="dialog">
            <div class="modal-dialog modal-default-dialog">
               
               <!--======= Search Modal Content =========-->
               <div class="modal-content modal-default-content animated fadeIn">
                  
                  <!--======= Search Modal Header =========-->
                  <div class="modal-header modal-default-header">
                     <button type="button" class="close" data-dismiss="modal">
                        &times;
                     </button>
                     <img src="img/logo-gray-2.png" alt="logo dark" />
                  </div>
                  
                  <!--======= Search Modal Body =========-->
                  <div class="modal-body modal-default-body modal-default-body-search">
                     <form class="modal-default-body-form modal-default-search-bar">
                        <div class="form-group">
                           <input type="text" class="form-control" id="query" name="search" value="" placeholder="Start Typing..."  required>
                        </div>
                        <button type="submit" class="btn btn-s btn-gray">
                           <span class="glyphicon glyphicon-search"></span>
                        </button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!--======= End Search Modal =========--> 
         
         <!--======= Contact Us Modal =========-->
         <div class="modal fade modal-default-fade modal-light" id="modal-default-contact-us-modal" role="dialog">
            <div class="modal-dialog modal-default-dialog">
               
               <!--======= Contact Us Modal Content =========-->
               <div class="modal-content modal-default-content animated fadeIn">
                  
                  <!--======= Contact Us Modal Header =========-->
                  <div class="modal-header modal-default-header">
                     <button type="button" class="close" data-dismiss="modal">
                        &times;
                     </button>
                     <img src="img/logo-gray-2.png" alt="logo dark" />
                  </div>
                  
                  <!--======= Contact Us Modal Body =========-->
                  <div class="modal-body modal-default-body">
                     <form id="top-contact" method="post" action="contact.php" class="modal-default-body-form">
                        <div class="messages">
                        </div>
                        <div class="controls">
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="usrname" placeholder="Your Name" required>
                           </div>
                           <div class="form-group">
                              <input type="email" class="form-control animated fadeInDown" id="email" placeholder="Your Email" required>
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control animated fadeInDown" id="subject" placeholder="Your Subject" required>
                           </div>
                           <div class="form-group">
                              <textarea class="form-control animated fadeInDown" rows="5" id="comment" placeholder="Your Message..." required></textarea>
                           </div>
                           <button type="submit" class="btn btn-s btn-gray animated fadeInDown">
                              <span class="glyphicon glyphicon-send"></span>
                              Submit Now
                           </button>
                        </div>
                     </form>
                  </div>
                  
                  <!--======= Contact Us Modal Footer =========-->
                  <div class="modal-footer modal-default-footer" id="modal-default-contact-us-modal-social-icons">
                     <ul class="pull-right animated fadeInDown">
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="10M">
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="5M">
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="1M">
                              <i class="fa fa-google-plus" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="Skype">
                              <i class="fa fa-skype" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="25000">
                              <i class="fa fa-youtube" aria-hidden="true"></i>
                           </a> </li>
                        <li> <a target="_blank" href="#" data-toggle="tooltip" data-placement="top" title="Rss">
                              <i class="fa fa-rss" aria-hidden="true"></i>
                           </a> </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!--======= End Contact Us Modal =========--> 
      </header>
      <!--*-*-*-*-*-*-*-*-*-*- End Header Section *-*-*-*-*-*-*-*-*-*-->
      
      <div class="theme-personal">
        <section class="call-box-1 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container-fluid cover-bg overlay-dark" style="background-image:url('img/blog-52.jpg');">
               <div class="row">
                  <div class="col-md-12 col-sm-12 pad-t-100 pad-b-100">
                     <h2>Если вас интересует
                        <span>здоровое питание</span>
                        звоните нам</h2>
                     <p>Мы производим полуфабрикаты без алергенов</p>
                     <a href="tel:+793772670378" class="btn btn-l btn-gray"><i class="fa fa-phone icon" aria-hidden="true"></i> +7 (937) 7267037</a>
                  </div>
               </div>
            </div>
         </section>
         <section class="pad-t-200 pad-b-200 bg-3 pad-section-50">
            <div class="container">
               <div class="row">
                  <div class="col-md-4 pad-t-200 pad-l-t-130 pad-m-t-25">
                     <div class="box-content-l wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <h2>упаковка<br>
                           <span>продукта</span>
                        </h2>
                        <div class="box-txt-l">
                           Котлеты укладываются на пластиковый лоток по 4 шт. Общий вес 400 гр.
                        </div>
                     </div>
                     <div class="text-center">
                        <div class="box-info no-pad margin-t-10 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                           <div class="number">
                              <img src="img/icon/1.png" width="50" height="50" alt=""/>
                           </div>
                           <div class="v-center">
                              <div class="title">без ГМО</div>
                              <div class="title-sub">не используется на предприятии.</div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 ">
                     <div class="">
                     <div class="owl-stage-outer">
					 <img class="img-responsive" src="img/app-landing-08.png" alt="">
					 </div>
					 <div class="owl-dots disabled"></div></div>
                     <div class="social-4 margin-t-40">
                        <ul>
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-4 pad-t-10">
                     <div class="box-content-r">
                        <h2>
                           <span>состав</span>
                           продукта</h2>
                        <div class="box-txt-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                           Мы не используем ингридиенты вызывающие алергию. Только натуральные продукты.
                        </div>
                        <div class="box-info no-pad margin-t-30 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                           <div class="number">
                              <img src="img/icon/4.png" width="50" height="50" alt=""/>
                           </div>
                           <div class="v-center">
                              <div class="title">Соя</div>
                              <div class="title-sub">не используется на предприятии.</div>
                           </div>
                        </div>
                        <div class="box-info no-pad margin-t-10 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                           <div class="number">
                              <img src="img/icon/2.png" width="50" height="50" alt=""/>
                           </div>
                           <div class="v-center">
                              <div class="title">яйца</div>
                              <div class="title-sub">не используется на предприятии.</div>
                           </div>
                        </div>
						 <div class="box-info no-pad margin-t-10 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                           <div class="number">
                              <img src="img/icon/3.png" width="50" height="50" alt=""/>
                           </div>
                           <div class="v-center">
                              <div class="title">глютен</div>
                              <div class="title-sub">не используется на предприятии.</div>
                           </div>
                        </div>
                        <div class="box-info no-pad margin-t-10 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                           <div class="number">
                              <img src="img/icon/5.png" width="50" height="50" alt=""/>
                           </div>
                           <div class="v-center">
                              <div class="title">лактоза</div>
                              <div class="title-sub">не используется на предприятии.</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="pad-t-50 pad-b-50 pad-section-50">
            <div class="container">
               <div class="row border-v-gray v-align">
                  <div class="col-md-5">
                     <h2 ><span>доставка</span> по региону</h2>
                     <div class="box-info no-pad">
                        <div class="number">ГП</div>
                        <div class="v-center">
                           <div class="title">маркетинг &amp; доставка</div>
                           <div class="title-sub">
                              Возможна доставка по магазинам мелкооптовых партий.
                           </div>
                        </div>
                     </div>
                     <hr>
                     <p>Sed pulvinar, dui vel ullamcorper pretium, nunc nisi tempus velit, ut elementum augue enim vitae est. Curabitur in venenatis orci. In semper congue purus, id feugiat ante elemen tum id. Donec egestas efficitur ju sto, a faucibus orci fringilla in.</p>
                  </div>
                  <div class="col-md-7 txt-dark">
                     <img src="img/granta.jpg" class="img-responsive" alt="">

                  </div>
               </div>
            </div>
         </section>
         <section class="pad-t-150 pad-b-150 pad-section-50" id="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center pad-b-70 pad-m-b-25 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                  <h2 class="portfolio-tit"><span>наши</span> продукты</h2>
                  <h3 class="portfolio-sub-tit">гипоалергенные</h3>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                  <div class="filter-container-pages">
                     <ul class="list-inline filter portfolio-filter">
                        <li class="active"><a href="#" class="txt-h active" data-filter="*">все</a> <span>|</span></li>
                        <li><a href="#" class="txt-h" data-filter=".kot">котлеты</a> <span>|</span></li>
                        <li><a href="#" class="txt-h" data-filter=".pel">пельмени</a> <span>|</span></li>
                        <li><a href="#" class="txt-h" data-filter=".fric">фрикадельки</a> <span>|</span></li>
                        <li><a href="#" class="txt-h" data-filter=".tef">тефтели</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="portfolio-container" style="position: relative; height: 544.124px;">
            <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
               <div class="row work-col-g">
                   <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item tef" style="position: absolute; left: 802px; top: 0px;">
                     <a href="product-1.html" class="work-4-item">
                        <img src="img/product/tef.jpg" class="img-responsive" alt="">
                        <div class="work-4-overlay">
                           <div class="work-4-overlay-item">
                              <div class="work-4-des">
                                 <span>
                                    <i class="work-4-icon fa fa-link" aria-hidden="true"></i>
                                 </span>
                                 <span class="work-4-top-tit">тефтели куриные</span>
                                 <span class="work-4-sub-tit">подробнее</span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item kot" style="position: absolute; left: 802px; top: 0px;">
                     <a href="product-1.html" class="work-4-item">
                        <img src="img/product/kot1.jpg" class="img-responsive" alt="">
                        <div class="work-4-overlay">
                           <div class="work-4-overlay-item">
                              <div class="work-4-des">
                                 <span>
                                    <i class="work-4-icon fa fa-link" aria-hidden="true"></i>
                                 </span>
                                 <span class="work-4-top-tit">котлеты рыбные</span>
                                 <span class="work-4-sub-tit">подробнее</span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item fric" style="position: absolute; left: 802px; top: 0px;">
                     <a href="product-1.html" class="work-4-item">
                        <img src="img/product/fric.jpg" class="img-responsive" alt="">
                        <div class="work-4-overlay">
                           <div class="work-4-overlay-item">
                              <div class="work-4-des">
                                 <span>
                                    <i class="work-4-icon fa fa-link" aria-hidden="true"></i>
                                 </span>
                                 <span class="work-4-top-tit">фрикадельки говяжьи</span>
                                 <span class="work-4-sub-tit">подробнее</span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item kot" style="position: absolute; left: 802px; top: 0px;">
                     <a href="product-1.html" class="work-4-item">
                        <img src="img/product/kot2.jpg" class="img-responsive" alt="">
                        <div class="work-4-overlay">
                           <div class="work-4-overlay-item">
                              <div class="work-4-des">
                                 <span>
                                    <i class="work-4-icon fa fa-link" aria-hidden="true"></i>
                                 </span>
                                 <span class="work-4-top-tit">котлеты куриные</span>
                                 <span class="work-4-sub-tit">подробнее</span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </div>                  
				  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item pel" style="position: absolute; left: 802px; top: 0px;">
                     <a href="product-1.html" class="work-4-item">
                        <img src="img/product/pel.jpg" class="img-responsive" alt="">
                        <div class="work-4-overlay">
                           <div class="work-4-overlay-item">
                              <div class="work-4-des">
                                 <span>
                                    <i class="work-4-icon fa fa-link" aria-hidden="true"></i>
                                 </span>
                                 <span class="work-4-top-tit">пельмени куриные</span>
                                 <span class="work-4-sub-tit">подробнее</span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item kot" style="position: absolute; left: 802px; top: 0px;">
                     <a href="product-1.html" class="work-4-item">
                        <img src="img/product/kot3.jpg" class="img-responsive" alt="">
                        <div class="work-4-overlay">
                           <div class="work-4-overlay-item">
                              <div class="work-4-des">
                                 <span>
                                    <i class="work-4-icon fa fa-link" aria-hidden="true"></i>
                                 </span>
                                 <span class="work-4-top-tit">котлеты говяжьи</span>
                                 <span class="work-4-sub-tit">подробнее</span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </div>
				  </div>
            </div>
         </div>
      </section>
		 <section class="blog pad-t-30 pad-b-30 pad-section-10">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-md-offset-3 pad-b-100 pad-m-b-50 text-center">
                     <h2>рецепты</h2>
                     <div class="line-dark-c"></div>
                     <h3 class="txt-orange">недавние поступления</h3>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 pad-b-100 pad-m-b-50 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                     <div class="blog-img">
                        <a href="recept1.html">
                           <img class="img-responsive" src="img/events-07.jpg" alt="">
                        </a>
                     </div>
                     <div class="blog-date">
                        октябрь 25, 2016
                        <span class="sep">|</span>
                        от <a href="#">ГИПРО</a>
                     </div>
                     <div class="line-dark-l"></div>
                     <h5 class="fw-600"><a href="recept1.html">Как спланировать домашнее меню</a></h5>
                     <div class="sub-title">
                        категория: планирование
                     </div>
                     <p>
                        <span class="line-txt"></span>
                        Поиск ответа на вопрос, что именно приготовить утром, днём и вечером иногда приводит к настоящему стрессу.
						Потому что ответ не всегда имеется. Попробуйте планировать меню заранее. И вы увидите, насколько процесс готовки станет проще, а жизнь легче...</p>
                     <a class="btn btn-xs btn-dark margin-t-25" href="recept1.html">подробнее</a>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 pad-b-100 pad-m-b-50 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                     <div class="blog-img">
                        <a href="recept1.html">
                           <img class="img-responsive" src="img/agency-19.jpg" alt="">
                        </a>
                     </div>
                     <div class="blog-date">
                        декабрь 05, 2016
                        <span class="sep">|</span>
                        от <a href="#">ГИПРО</a>
                     </div>
                     <div class="line-dark-l"></div>
                     <h5 class="fw-600"><a href="recept1.html">Приправы и пряности </a></h5>
                     <div class="sub-title">
                        Категория: приправы
                     </div>
                     <p>
                        <span class="line-txt"></span>
                        Гурманом является в той или иной степени каждый человек, владеющий навыками приготовления пищи. Но мало кто знает, как 
						правильно сочетать продукты и специи, чтобы они были не только вкусными, но и полезными.....</p>
                     <a class="btn btn-xs btn-dark margin-t-25" href="recept1.html">подробнее</a>
                  </div>
               </div>
            </div>
         </section>
          <section class="pad-t-100 pad-b-100 bg-4 pad-m-t-0 pad-m-b-0" id="contact">
            <div class="container bg-0">
               <div class="row">
                  <div class="col-md-3 col-md-offset-1 col-sm-6 pad-t-200 pad-m-t-50">
                     <div class="box-info no-pad margin-t-30">
                        <div class="number">О нас</div>
                        <div class="v-center">
                           <div class="title">профиль</div>
                           <div class="title-sub">компании</div>
                        </div>
                     </div>
                     <p class="margin-t-15">Morbi eleifend laoreet dolor, ac pulvinar tortor tincidunt id. Phasellus tempor magna a odio pellentesque, id tempor ex suscipit. Sed ultrices orci quis sapien dictum, a rhoncus massa dapibus.</p>
                     <p class="margin-t-15">Sed at mi ut tellus pretium elementum. Vivamus condimentum, magna ac lacinia scelerisque, nisl lacus fermentum nulla, eu aliquam ex diam ac justo.</p>
                     <p class="author">
                        <img src="img/icon/square-right.png" width="50" height="50" alt=""/>
                        добро пожаловать</p>
                  </div>
                  <div class="col-md-5 col-sm-6 pad-t-100 pad-m-t-50">
                     <img src="img/personal-04.jpg" class="img-responsive" alt=""/>
                  </div>
                  <div class="col-md-3 col-sm-12 pad-t-200 pad-m-t-50">
                     <div class="box-info no-pad margin-t-30">
                        <div class="number">Адрес</div>
                        <div class="v-center">
                           <div class="title">контакты</div>
                           <div class="title-sub">
                              компании
                           </div>
                        </div>
                     </div>
                     <p class="margin-t-15">Etiam ut sollicitudin lacus. Integer ut odio leo. Aliquam auctor convallis lorem, eget ullamcorper velit imperdiet sit amet.</p>
                     <div class="info-address">
                        <p>работаем:
                           <span>с 2017 г.</span>
                        </p>
                        <p>
                           <span>сайт</span>
                           : www.gipro.ru</p>
                        <p>т:
                           <span>+7 937 726 7037</span>
                        </p>
                        <p>
                           <span>e-mail</span>
                           : 100vb@mail.ru</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  
                  <div class="col-md-12  pad-t-100 pad-b-50 pad-m-t-50 pad-m-b-25">
                  </div>
               </div>
            </div>
         </section>
		 <section class="pad-t-50 pad-b-150 pad-section-50">
         <div class="container">
             <div class="container">
			 <div class="col-md-12">
                  <div class="elements">
                       <h2><span>обратная</span> связь</h2>
                  </div>
             </div>
            <div class="row">
               <div class="col-sm-8 col-sm-offset-2">
                  <div class="contact-form-3">
                     <form method="post" action="contact.php" data-toggle="validator">
                        <div class="messages"></div>
                        <div class="controls">
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <input type="text" name="name" placeholder="имя *" class="form-control" required="required" data-error="Name is required!">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <input type="email" name="email" placeholder="еmail *" class="form-control" required="required" data-error="Valid email is required!">
                              </div>
                           </div>
                           <div class="col-sm-12">
                              <div class="form-group">
                                 <textarea name="message" placeholder="сообщение *" class="form-control" required data-error="Please,leave us a message!"></textarea>
                              </div>
                           </div>
                           <div class="col-sm-12">
                              <div class="form-group">
                                 <button type="submit" name="submit" class="btn btn-m btn-dark pull-right">
                                    отправить
                                 </button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
        
      </section>
      </div>
      <footer class="footer-3">
         <div class="container">
            <div class="row">
               <div class="col-md-8 col-md-offset-2 pad-b-40 ">
                  <img src="img/logo-gray.png" width="40" height="56" alt=""/>
                  <div class="line-gray-c wow fadeInUp" data-wow-delay="0.2s"></div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-3 col-md-push-2 col-sm-3 wow fadeIn" data-wow-delay="0.3s">
                  <i class="fa fa-mobile icon" aria-hidden="true"></i>
                  <h5 class="info">Телефон</h5>
                  <p class="des">+7 (937) 726-7037</p>
               </div>
               <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                  <i class="fa fa-map-pin icon" aria-hidden="true"></i>
                  <h5 class="info">Адрес</h5>
                  <p class="des">Адрес : 400026 Волгоград<br>
                     ул. Пролетарская 49</p>
               </div>
               <div class="col-md-3 col-md-pull-2 col-sm-3 wow fadeIn" data-wow-delay="0.5s">
                  <i class="fa fa-envelope-o icon" aria-hidden="true"></i>
                  <h5 class="info">mail</h5>
                  <p class="des">100vb@mail.ru</p>
               </div>
            </div>
         </div>
         <div class="sub wow fadeIn" data-wow-delay="0.3s">
            <div class="container">
               <div class="row v-align">
                  <div class="col-md-7 col-sm-7 margin-s-b-15">
                     <p class="terms"> 
                        <a href="#">Поддержка</a>
                        <span>|</span>
                        <a href="#">Условия использования</a>
                        <span>|</span>
                        <a href="#">Конфиденциальность</a>
                        <span>|</span>
                        <a href="#">Лицензия</a></p>
                     <p class="copyright">GiPro &copy; 2021 All Rights Reserved</p>
                  </div>
                  <div class="col-md-5 col-sm-5">
                     <div class="social">
                        <ul>
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      
      <a href="#0" class="cd-top">Top</a> 
    <%- include('./includes/footer.ejs') %>
   </body>
</html>